---
interface Props {
  title: string;
  desc: string;
}
const { title, desc } = Astro.props;
---
<div class="feature">
  <div class="feature-icon"><slot name="icon" /></div>
  <h3>{title}</h3>
  <p>{desc}</p>
</div>
